/* Default System Settings */
body {
    background-color: #f0e9c3;
    color: #a09664;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
section {
    margin-bottom: 50px;
    padding: 30px
}

h1 {
    font-size: 50px;
    color: #758250;
    text-align: center;
}

h2 {
    color: #c49466;
    font-size: 35px;
    font-family: monospace;
}

#intropic {
    border-radius: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#github, #linkd {
    border-radius: 50%;
}

nav {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    background-color: ivory;
    overflow: hidden;
    margin: 0;
    padding: 15px;
}

.navbar a {
    color:#c49466;
    text-decoration: none;
}

.navbar li {
    display: inline-block;
    font-size: 30px;
    padding-left: 20px;
}

.navbar a:hover{
    background-color:#758250
}

#Exp ul {
    width: 100%;
    list-style-type: none;
}
.ExpInfo {
    padding: 20px;
}

.Exphead {
    display: flex;
    justify-content: space-between; /* Space between job title and dates */
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 10px;
}

.JobTitle {
    font-size: 25px;
    color: black;
}

.time {
    font-size: 25px;
    text-align: right;
    margin-right: 30px;
}

#Skills {
    max-width: 600px;
}

#Skills ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}

#Skills li {
    background-color: ivory;
    font: 23px bold;
    border-radius: 8px;
    text-align: center;
    color: black;
}



/* Tablet Sytem Settings (768px and above) */
/* lighter background color/darker header, smaller font size, and more white space*/ 
@media screen and (max-width: 1024px) {
    body {
        background-color: #e8e1b5;
        font-size: 18px;
    }
    h1 {
        font-size: 40px;
        color: #5e6e40;
    }
    .navbar li {
        font-size: 25px;
        padding-left: 15px; /*reduce padding for greater better fit */
    }
}

/* Mobile Sytem Settings (480px and above) */
@media screen and (max-width: 480px) {
    body {
        background-color: #b2ad8e; /*different color for mobile devices for variation*/
        font-size: 14px; /*reduce font size*/
    }
    h1 {
        font-size: 30px;
        color: #5a6c3a;
    }
    .navbar li {
        display: block;
        font-size: 20px;/*reduce font size*/
        padding-left: 10px; /*reduce padding for greater better fit */
    }
}