body {
    background-color: #f0e9c3;
    color: #a09664;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
section {
    margin-bottom: 50px;
    padding: 30px
}

h1 {
    font-size: 50px;
    color: #758250;
    text-align: center;
}

h2 {
    color: #c49466;
    font-size: 35px;
    font-family: monospace;
}

#intropic {
    border-radius: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#github, #linkd {
    border-radius: 50%;
}

nav {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    background-color: ivory;
    overflow: hidden;
    margin: 0;
    padding: 15px;
}

.navbar a {
    color:#c49466;
    text-decoration: none;
}

.navbar li {
    display: inline-block;
    font-size: 30px;
    padding-left: 20px;
}

.navbar a:hover{
    background-color:#758250
}

#Exp ul {
    width: 100%;
    list-style-type: none;
}
.ExpInfo {
    padding: 20px;
}

.Exphead {
    display: flex;
    justify-content: space-between; /* Space between job title and dates */
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 10px;
}

.JobTitle {
    font-size: 25px;
    color: black;
}

.time {
    font-size: 25px;
    text-align: right;
    margin-right: 30px;
}


